<extend name="Base:base"/>
<block name="content">
    <!-- 顶部开始 -->
    <body>


    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <!--   <div class="layui-card-body ">
                           <form class="layui-form layui-col-space5">
                               <div class="layui-input-inline layui-show-xs-block">
                                   <input class="layui-input" placeholder="开始日" name="start" id="start"></div>
                               <div class="layui-input-inline layui-show-xs-block">
                                   <input class="layui-input" placeholder="截止日" name="end" id="end"></div>
                               <div class="layui-input-inline layui-show-xs-block">
                                   <select name="contrller">
                                       <option>支付方式</option>
                                       <option>支付宝</option>
                                       <option>微信</option>
                                       <option>货到付款</option></select>
                               </div>
                               <div class="layui-input-inline layui-show-xs-block">
                                   <select name="contrller">
                                       <option value="">订单状态</option>
                                       <option value="0">待确认</option>
                                       <option value="1">已确认</option>
                                       <option value="2">已收货</option>
                                       <option value="3">已取消</option>
                                       <option value="4">已完成</option>
                                       <option value="5">已作废</option></select>
                               </div>
                               <div class="layui-input-inline layui-show-xs-block">
                                   <input type="text" name="username" placeholder="请输入订单号" autocomplete="off" class="layui-input"></div>
                               <div class="layui-input-inline layui-show-xs-block">
                                   <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                       <i class="layui-icon">&#xe615;</i></button>
                               </div>
                           </form>
                       </div>-->

                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <!-- <th>
                                     <input type="checkbox" name="" lay-skin="primary">
                                 </th>-->
                                <th>编号</th>
                                <th>插件IP</th>
                                <th>插件端口</th>
                                <th>插件状态</th>
                                <th>插件调整模式</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!--  <td>
                                          <input type="checkbox" name="" lay-skin="primary"></td>-->
                                    <td>{$config["id"]}</td>
                                    <td>{$config["plug_ip"]}</td>
                                    <td>{$config["plug_port"]}</td>
                                    <td>{$config["status"]? '启用':'禁用'}</td>
                                    <td>{$config['no_repeat_set'] == 1 ? '只修改行情一次':'持续修改'}</td>
                                    <!--   <?php $name = $vo['name'];?>-->

                                    <td><a title="设置插件配置" onclick="xadmin.open('设置插件配置','/Admin/index/plugSet')" href="javascript:;">
                                        <i class="layui-icon">&#xe63c;</i>设置插件配置</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        {$page}
                        <!-- <div class="page">
                             <div>
                                 <a class="prev" href="">&lt;&lt;</a>
                                 <a class="num" href="">1</a>
                                 <span class="current">2</span>
                                 <a class="num" href="">3</a>
                                 <a class="num" href="">489</a>
                                 <a class="next" href="">&gt;&gt;</a></div>
                         </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>layui.use(['laydate', 'form'],
        function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });

            $('#switch_flag').change(function(){
                if ($(this).is(":checked")){
                    var flag = 1;
                }else{
                    var flag = 0;
                }
                console.log(flag);
                $.post("plug_status",{flag:flag},function(res){
                    if (res.status == 0) {
                        layer.alert(res.msg, {
                                icon: 5
                            },
                            function () {
                                // 获得frame索引
                                var index = parent.layer.getFrameIndex(window.name);
                                //关闭当前frame
                                parent.layer.close(index);
                            });
                        return false;
                    }
                    layer.alert(res.msg, {
                            icon: 6
                        },
                        function () {

                            parent.document.reload();
                        });
                })
            });



        });

    /*用户-停用*/
    function member_stop(obj, id) {
        layer.confirm('确认要停用吗？',
            function (index) {

                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    $(obj).attr('title', '停用');
                    $(obj).find('i').html('&#xe62f;');

                    $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                    layer.msg('已停用!', {
                        icon: 5,
                        time: 1000
                    });

                } else {
                    $(obj).attr('title', '启用');
                    $(obj).find('i').html('&#xe601;');

                    $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                    layer.msg('已启用!', {
                        icon: 5,
                        time: 1000
                    });
                }

            });
    }

    /*用户-删除*/
    function symbol_del(obj, id) {
        layer.confirm('确认要删除吗？',
            function (index) {
                //发异步删除数据

                $.post("delSymbol",{id:id},function(res){
                    if(res.status == 1){
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {
                            icon: 1,
                            time: 1000
                        });
                    }else{
                        layer.msg('删除失败', {
                            icon: 5,
                            time: 1000
                        });
                    }

                })


            });
    }

    function delAll(argument) {

        var data = tableCheck.getData();

        layer.confirm('确认要删除吗？' + data,
            function (index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {
                    icon: 1
                });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
    }</script>

</block>