<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;" onclick="xadmin.add_tab('品种列表','/admin/index/symbol_list')">
                    <i class="iconfont left-nav-li" lay-tips="品种列表">&#xe6b8;</i>
                    <cite>品种列表</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="xadmin.add_tab('用户列表','/admin/index/user_list')">
                    <i class="iconfont left-nav-li" lay-tips="用户列表">&#xe6b8;</i>
                    <cite>用户列表</cite>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="xadmin.add_tab('插件配置','/admin/index/plugConfig')">
                    <i class="iconfont left-nav-li" lay-tips="插件配置">&#xe6b8;</i>
                    <cite>插件配置</cite>
                </a>
            </li>

        </ul>
    </div>
</div>